.main-card-div {
    display: grid;
    background-color: rgb(34, 34, 37);
    border-radius: 5px;
    max-width: 900px;
    padding: 0.5rem 2rem;
    margin: 2rem 0 5rem 0;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    grid-template-rows: auto;
    grid-template-areas: 
    "title title"
    "temp-main temp-main"
    "temp-high temp-low"
    "weather weather"
    "wind wind"
}

.main-card-title {
    grid-area: title;
    border-radius: 0.3rem;
    padding: 0.5rem 2rem 0 2rem;
    margin: 1rem 0 0 0;
}

.main-card-temp {
    grid-area: temp-main;
    font-weight: lighter;
    color: lightskyblue;
    font-size: 4rem;
}

.main-card-temp-high {
    grid-area: temp-high;
}

.main-card-temp-low {
    grid-area: temp-low;
}

.main-card-weather {
    display: grid;
    align-items: center;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    /* border-radius: 5px; */
    grid-area: weather;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "icon description";
}

.main-card-weather-icon {
    grid-area: icon;
}

.main-card-description {
    grid-area: description;
}

.main-card-wind {
    grid-area: wind;
}