.content-div {
    display: grid;
    justify-content: center;
}

.app-title {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 20vh 0 1rem 0;
    color: lightskyblue;
}