.content-div-lg {
    display: grid;
    column-gap: 1rem;
    margin: 10vh 0;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "weather news"
}

.content-div-sm {
    display: grid;
    gap: 1rem;
    margin: 10vh 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "weather"
    "news"
}

.weather-item-lg {
    grid-area: weather;
}

.weather-item-sm {
    grid-area: weather;
}

.news-item-lg {
    grid-area: news;
    overflow: scroll;
}

.news-item-sm {
    grid-area: news;
    overflow: scroll;
}

.app-title {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 20vh 0 1rem 0;
    color: lightskyblue;
}